[Desktop Entry]
Version=1.0
Name=Bitcoin Core
Comment=Connect to the Bitcoin P2P Network
Comment[de]=Verbinde mit dem Bitcoin peer-to-peer Netzwerk
Comment[fr]=Bitcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcoin, eşten eşe kriptografik sanal para birimi
Exec=soferox-qt %u
Terminal=false
Type=Application
Icon=soferox128
MimeType=x-scheme-handler/soferox;
Categories=Office;Finance;
StartupWMClass=Bitcoin-qt
